form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  @media screen and (min-width: 350px) {
    font-size: 16px;
    margin: 10px 0;
  }
  @media screen and (min-width: 400px) {
    margin-top: 20px;
  }
}

input {
  margin-bottom: 10px;
  padding: 16px 4px;
  height: 30px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background: transparent;
  color: #fff;
  outline: none;
  border: none;
  border-bottom: 1px solid #efefef;
  transition: all 0.2s ease;
  &::placeholder {
    color: #d5d5d5;
  }
  &:focus {
    border-bottom: 1px solid #004191;
    transition: all 0.4s ease-in;
    &::placeholder {
      opacity: 0.2;
    }
  }
  // Media Queries
  @media screen and (min-width: 350px) {
    font-size: 18px;
  }
  @media screen and (min-width: 400px) {
    margin-bottom: 40px;
    padding-bottom: 22px;
  }
  @media screen and (min-width: 650px) {
    margin-bottom: 20px;
  }
  // Boton de Submit
  &.formButton {
    margin: 20px auto 0;
    padding: 12px 30px;
    width: 180px;
    height: auto;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: #004191;
    color: #efefef;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    &:hover {
      background-color: #efefef;
      color: #0d0d0d;
    }
    @media screen and (min-width: 350px) {
      font-size: 18px;
    }
  }
}

textarea {
  padding: 10px 4px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background: transparent;
  color: #fff;
  outline: none;
  border: none;
  border-bottom: 1px solid #efefef;
  &::placeholder {
    color: #d5d5d5;
  }
  &:focus {
    border-bottom: 1px solid #004191;
    transition: all 0.4s ease-in;
    &::placeholder {
      opacity: 0.2;
    }
  }

  @media screen and (min-width: 350px) {
    font-size: 18px;
  }
  @media screen and (min-width: 400px) {
    margin-bottom: 10px;
    padding-bottom: 22px;
  }
  @media screen and (min-width: 650px) {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}
