@font-face {
  font-family: azonix;
  src: url('../fonts/azonix/azonix.ttf') format('truetype');
}

$background-color: #0d0d0d;
$white-color: #efefef;
$font-title: azonix;
$font-text: 'Open Sans', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  color: $white-color;
  font-family: $font-text;
}
